@using BlazorSozluk.WebApp.Infrastructure.Models
@if (identityService.IsLoggedIn)
{
    <span class="entry-fav @(IsFavorited ? "entry-faved" : "entry-not-faved") p-3">
        <span @onclick="( () => FavoritedClicked())">
            @FavoritedCount
        </span>
    </span>
}

@*<AuthorizeView>

</AuthorizeView>*@

@code {
    [Inject]
    IIdentityService identityService { get; set; }

    [Parameter]
    public bool IsFavorited { get; set; }

    [Parameter]
    public Guid? EntryId { get; set; }

    [Parameter]
    public int FavoritedCount { get; set; }

    [Parameter]
    public EventCallback<FavClickedEventArgs> OnFavClicked { get; set; }

    private async Task FavoritedClicked()
    {
        IsFavorited = !IsFavorited;

        var eventArgs = new FavClickedEventArgs();
        eventArgs.EntryId = EntryId;
        eventArgs.IsFaved = IsFavorited;

        await OnFavClicked.InvokeAsync(eventArgs);

        StateHasChanged();
    }
}
